.about-us__wrapper {
  @include indents(0, 35px 30px 0);
  position: relative;
}

.about-us__wrapper::before {
  position: absolute;
  left: 0;
  top: 1px;
  width: 100%;
  height: 7px;
  content: "";
  background-image: url("../img/bg-zigzag-line.svg");
  background-size: auto 7px;
}

.about-us__title {
  @include indents;
  @include font-bold(25px, 30px);
  margin-bottom: 30px;
  color: $black;
}

.about-us__list {
  @include indents;
  list-style: none;
}

.about-us__item {
  @include indents;
  @include font-bold($font-size, 20px);
  margin-bottom: 30px;
  padding-right: 45px;
  color: $black;
}

.about-us__item--rocket {
  padding-right: 0;
}

.about-us__item > .about-us__icon {
  display: block;
}

.about-us__icon {
  display: inline-block;
  vertical-align: middle;
  fill: $mint_1;
}

.about-us__icon--flower,
.about-us__icon--ball {
  margin-bottom: 18px;
  margin-left: 5px;
}

.about-us__icon--money {
  margin-bottom: 26px;
}

.about-us__icon--heart {
  margin-bottom: 26px;
  margin-left: 7px;
  fill: $mint_1;
}

.about-us__icon--rocket {
  margin-bottom: 30px;
  margin-left: -8px;
}

.about-us__icon--gift {
  margin-bottom: 24px;
  margin-left: 4px;
}

// Планшет

@media (min-width: $tablet) {
  .about-us__wrapper {
    @include indents(0, 68px 50px 0);
  }

  .about-us__wrapper::before {
    height: 17px;
    background-size: auto 17px;
  }

  .about-us__title {
    @include font-bold(43px, 50px);
    margin-bottom: 49px;
  }

  .about-us__list {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  .about-us__item {
    @include font-bold(20px, 22px);
    width: 40%;
    padding-right: 10%;
    margin-bottom: 55px;
  }

  .about-us__item--money {
    order: 1;
  }

  .about-us__item--rocket {
    order: 2;
    width: 50%;
    padding-right: 0;
  }

  .about-us__item--heart {
    order: 3;
  }

  .about-us__item--gift {
    order: 4;
  }
}

// Десктоп

@media (min-width: $descktop) {
  .about-us {
    max-width: 1150px;
    margin: 0 auto;
  }

  .about-us__wrapper::before {
    height: 23px;
    background-size: auto;
  }

  .about-us__wrapper {
    @include indents(0 50px, 84px 175px 0);
    max-width: 700px;
  }

  .about-us__title {
    @include font-bold(53px, 57px);
  }
}
