.copyright {
  padding: 23px 0 12px;
}

.copyright__text {
  @include font-bold(19px, 20px);
  color: $black;

  margin-right: 30px;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__link {
  display: flex;
  font-size: 0;
  text-decoration: none;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.copyright__icon:hover,
.copyright__icon:focus {
  fill: $mint_3;
}

.copyright__icon:active {
  fill: $mint_3;
  opacity: 0.3;
}

.copyright__icon {
  fill: $mint_1;
}

// Планшет

@media (min-width: $tablet) {
  .copyright {
    width: 33%;
  }

  .copyright__link {
    justify-content: flex-end;
    padding: 0;
  }
}
