.good-characteristic {
  @include font(15px, 20px);
  color: $gray;
  width: 260px;
  height: 120px;
  margin-bottom: 28px;
  border-collapse: collapse;
}

.good-characteristic__col {
  width: 96px;
}

.good-characteristic__row {
  border-bottom: $border;
}

@media (min-width: $tablet) {
  .good-characteristic {
    width: 292px;
    margin-bottom: 56px;
  }
}

@media (min-width: $descktop) {
  .good-characteristic {
    margin-bottom: 110px;
  }
}
