.main-header {
  width: 100%;
  position: relative;
}


// Планшет

@media (min-width: $tablet) {
  .main-header::after {
    content: "";
    position: absolute;
    height: 64px;
    width: 100%;
    background-color: #f1f1f1;
    z-index: 0;
    bottom: 0;
    left: 0;
    border-top: $border;
  }

  .main-header--index::after {
    background-color: #fafafa;
  }
}

// Десктоп

@media (min-width: $descktop) {
  .main-header::after {
    border: none;
  }
}
