.main-footer__wrap {
  @include indents(0 auto, 0);
  min-width: 260px;
}

.social-list {
  @include indents();
  list-style: none;
  padding: 30px 30px;
}

.social-list__link,
.copyright__link {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 0;
}

.copyright {
  padding: 15px 0;
  text-align: center;
}

.copyright__text {
  @include font-set(19px, 20px);
  margin-right: 30px;
  margin-left: 15px;
  color: $black;
}

.copyright__icon {
  fill: $mint;
}
