.production {
  margin-bottom: 60px;
  padding: 0 30px;
  outline: none;
}

.production__wrapper {
  border: $border;
}

.production__wrapper:hover,
.production__wrapper:focus {
  box-shadow: 0 6px 10px rgba($black, 0.1);
}

.production__wrapper:active {
  box-shadow: 0 3px 5px rgba($black, 0.1);
}

.production__header {
  display: flex;
  align-items: center;
  padding: 25px 30px;
}

.production__title {
  @include indents;
  @include font-bold($font-size, 1.4);
  color: $black;
}

.production__player {
  position: relative;
  min-height: 150px;
}

.production__player img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.production__player-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 101px;
  height: 77px;
  background-color: transparent;
  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  border: none;
  font-size: 0;
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus {
    transform: translate(-50%, -50%) scale(1.2);
  }

  &:active {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.3;
  }
}

.production__description {
  padding: 28px 34px 32px;
}

.production__text {
  @include indents;
  @include font(13px, 24px);
  color: $gray;
  margin-bottom: 16px;
}

.production__icon {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 45px;
  padding-right: 25px;
  fill: $mint_1;
}

// Планшет

@media (min-width: $tablet) {
  .production {
    padding: 0 50px;
    margin-bottom: 63px;
  }

  .production__wrapper {
    display: flex;
    flex-direction: column;
  }

  .production__player {
    order: -1;
    min-height: 453px;
    background-color: #ececec;
  }

  .production__header {
    padding: 30px;
  }

  .production__title {
    @include font-bold(20px, 24px);
  }

  .production__description {
    padding: 0 40px 45px;
  }

  .production__text {
    @include font(15px, 2);
    margin-bottom: 33px;
  }

  .production__icon {
    width: 32px;
    height: 32px;
    padding-left: 10px;
    padding-right: 32px;
  }
}

// Десктоп

@media (min-width: $descktop) {
  .production {
    max-width: 1050px;
    margin: 0 auto;
    margin-bottom: 105px;
  }

  .production__wrapper {
    position: relative;
    flex-wrap: wrap;
    align-items: flex-end;
  }

  .production__player {
    position: absolute;
    top: 0;
    left: 0;
    width: 680px;
    height: 455px;
    background-color: #ececec;
  }

  .production__header {
    display: block;
    width: 33%;
    padding: 42px 0 32px;
  }

  .production__title {
    width: 230px;
    margin-left: 60px;
  }

  .production__description {
    width: 33%;
    margin-bottom: 60px;
    padding: 0;
  }

  .production__text {
    margin-left: 58px;
    margin-bottom: 47px;
  }

  .production__button {
    width: 226px;
    margin-left: 60px;
  }

  .production__icon {
    display: block;
    margin-left: 50px;
    margin-bottom: 22px;
  }
}
