.promo-links {
  margin: 123px auto 0;
  padding: 0;
  list-style: none;
}

.promo-links__item {
  @include indents;
}

.promo-links__link {
  display: flex;
  justify-content: space-between;
  padding: 23px 30px 18px;
  text-decoration: none;
  background-color: $mint_1;

  &:hover,
  &:focus,
  &:active {
    padding-bottom: 33px;
    margin-top: -5px;
    background-color: #59d5bc;
  }
}

.promo-links__link--toys {
  background-color: #56c3b2;

  &:hover,
  &:focus,
  &:active {
    background-color: #46c1ae;
  }
}

.promo-links__title {
  @include font-bold(19px, 24px);
  display: block;
  width: 130px;
  color: $white;
  background-color: transparent;
}

.promo-links__link:active .promo-links__title {
  opacity: 0.3;
}

.promo-links__icon {
  display: inline-block;
  vertical-align: middle;
  fill: #149080;
  opacity: 0.5;
}

.promo-links__link:hover .promo-links__icon,
.promo-links__link:focus .promo-links__icon {
  opacity: 0.7;
}

.promo-links__link:active .promo-links__icon {
  opacity: 0.3;
}

// Планшет

@media (min-width: $tablet) {
  .promo-links {
    display: flex;
    padding: 0 50px;
    position: relative;
    z-index: 2;
    margin-top: 373px;
  }

  .promo-links__item {
    width: 50%;
  }

  .promo-links__link {
    padding: 28px 35px;
  }

  .promo-links__title {
    @include font-bold(20px, 30px);
  }
}

// Десктоп

@media (min-width: $descktop) {
  .promo-links {
    max-width: 1050px;
    margin-top: 361px;
  }
}
