.reviews {
  margin: 0 auto;
  max-width: 771px;
  padding: 0 30px;
}

.reviews__slider {
  position: relative;
  margin: 0;
}

.reviews__title {
  @include indents(0, 0);
  @include font-set(25px, 30px);
  color: $black;
}
