.slider__list {
  @include indents();
  list-style: none;
}


.slider__item {
  padding: 20px 0 33px;
}

.slider__item--second {
  display: none;
}

.slider__item--third {
  display: none;
}

.slider__text {
  @include indents(0 0 25px, 0);
  font-size: 15px;
  line-height: 2;
}

.slider__author {
  font-style: normal;
}

.slider__author-name {
  display: block;
  margin-bottom: 7px;
}

.slider__nav {
  display: flex;
  margin-bottom: 35px;
}

.slider__button {
  @include indents;
  width: 50%;
  height: 50px;
  border: $border;
  background-color: transparent;
  font-size: 0;
  cursor: pointer;
  outline: none;
}

.slider__button:hover,
.slider__button:focus {
  opacity: 0.6;
  background-color: transparent;
}

.slider__button:active {
  opacity: 0.3;
}

.slider__button--prev {
  background: url("../img/icon-left-arrow.svg") no-repeat center;
  background-size: auto 26px;
}

.slider__button--next {
  background: url("../img/icon-right-arrow.svg") no-repeat center;
  background-size: auto 26px;
}

// Планшет

@media (min-width: $tablet) {
  .slider__text {
    @include font($font-size, 30px);
  }

  .slider__author {
    display: block;
    margin-top: 60px;
  }

  .slider__author-name {
    @include font-bold(18px, 24px);
    display: block;
  }

  .slider__nav {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20%;
  }

  .slider__button {
    min-width: 50px;
    border: none;
  }
}

@media (min-width: $descktop) {
  .slider__item {
    min-height: 180px;
  }

  .slider__text {
    @include font($font-size, 30px);
    padding-right: 105px;
  }

  .slider__author {
    margin-top: 40px;
  }
}
