@font-face {
  font-weight: normal;
  font-family: "Open Sans";
  font-style: normal;
  font-display: optional;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "Open Sans";
  font-style: normal;
  font-display: optional;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
}

html,
body {
  height: 100%;
}

body {
  @include indents(0 auto, 0);
  min-width: 320px;
  font-family: $font-family;
  font-size: $font-size;
  line-height: 1.4;
  color: $font-gray;
  background-color: $white;
  outline: none;
  word-wrap: break-word;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


