$font-family: "Open Sans", "Arial", sans-serif;
$font-size: 17px;

$black: #000000;
$white: #ffffff;
$font-gray: #444444;
$mint: #63d1bb;
$color-footer: #46c1ae;
$color-form: #62d1ba;
$color-bg: #f1f1f1;
$border: 1px solid #ececec;
